* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.imagen {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 99.5vh;
}

.box-icon {
    font-size: 300%;
}

.mario i{
    position: absolute;
    top: 24%;
    left: 87.6%;
    color: red;
}
.mario img{
    position: absolute;
    top: 21%;
    left: 90%;
    height: 48.8px;
    backdrop-filter: 80%;
}
