* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
    font-style: normal;
}

.imagen {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 99.5vh;
}

.box-icon {
    font-size: 300%;
}

.mario i{
    position: absolute;
    top: 24%;
    left: 87.6%;
    color: red;
}
.mario_retro img{
    position: absolute;
    top: 20%;
    left: 90%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    margin: 0;
    transform: translateY(10px);
}
.mario_retro:hover img{
    transform: scale(1.3);
}

.pacman img{
    position: absolute;
    top: 20%;
    left:84.5%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.pacman:hover img{
    transform: scale(1.3);
}

.zelda img{
    position: absolute;
    top: 28%;
    left:84%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.zelda:hover img{
    transform: scale(1.3);
}

.pokemon img{
    position: absolute;
    top: 28%;
    left:90%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.pokemon:hover img{
    transform: scale(1.3);
}

.the_sims i{
    position: absolute;
    top: 23%;
    right: 76%;
    color: red;
}
.sims img{
    position: absolute;
    top: 21%;
    left: 24.5%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.sims:hover img{
    transform: scale(1.3);
}

.assassin i{
    position: absolute;
    top: 12%;
    right: 79.5%;
    color: red;
}
.assassin_creed img{
    position: absolute;
    top: 8%;
    left: 21%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.assassin_creed:hover img{
    transform: scale(1.3);
}

.Lol i{
    position: absolute;
    top: 25%;
    right: 82.2%;
    color: red;
}
.legends img{
    position: absolute;
    top: 29%;
    left: 11.5%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    background-color: rgb(205%, 250%, 250%); 
    transform: translateY(10px);
}
.legends:hover img{
    transform: scale(1.3);
}
.world img{
    position: absolute;
    top: 29%;
    left: 18%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.world:hover img{
    transform: scale(1.3);
}

.hero i{
    position: absolute;
    top: 20.5%;
    right: 69.1%;
    color: red;
}
.guitar img{
    position: absolute;
    top: 17%;
    left: 31%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.guitar:hover img{
    transform: scale(1.3);
}

.auto i{
    position: absolute;
    top: 13%;
    left: 47.6%;
    color: red;
}
.gta img{
    position: absolute;
    top: 11%;
    left: 43.9%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.gta:hover img{
    transform: scale(1.3);
}

.mine i{
    position: absolute;
    top: 10.5%;
    left: 53.5%;
    color: red;
}
.minecraft img{
    position: absolute;
    top: 6%;
    left: 50.2%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.minecraft:hover img{
    transform: scale(1.3);
}

.tetris i{
    position: absolute;
    top: 14%;
    left: 59%;
    color: red;
}
.tetri img{
    position: absolute;
    top: 11.5%;
    left: 62%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.tetri:hover img{
    transform: scale(1.3);
}

.halo i{
    position: absolute;
    top: 18%;
    right: 83%;
    color: red;
}
.combat img{
    position: absolute;
    top: 9.5%;
    left: 13%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.combat:hover img{
    transform: scale(1.3);
}
.counter img{
    position: absolute;
    top: 18%;
    left: 10.5%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.counter:hover img{
    transform: scale(1.3);
}

.angry i{
    position: absolute;
    top: 9%;
    left: 56.5%;
    color: red;
}
.birds img{
    position: absolute;
    top: 3%;
    left: 58%;
    height: 48.8px;
    transition: 0.5s;
    object-fit: cover;
    transform: translateY(10px);
}
.birds:hover img{
    transform: scale(1.3);
}

/* Tooltip */
.tooltip{
    display: flex;
    position: absolute;
    width: 15em;
    top: 0;
    left: 0;
    background: white;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgb(0, 0, 0,.20); 
    z-index: 1000;/*Esto hace que el tooltip este por arriba de algun elemento que podamos tener*/
    opacity: 0;/*alterna en 0 oculto, 1 es visible*/
    transition: .3s ease all;
    transform: translateY(10px);
}
.tooltip::after{
    content: "";
    display: inline-block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    position: absolute;
    left: calc(50% - 15px);
}
.tooltip.activo{
    opacity: 1;
    transform: translateY(0px);
}
.tooltip .thumb{
    width: 40%;
}
.tooltip .thumb img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    vertical-align: top;
}
.tooltip .info {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tooltip .titulo{
    color: red;
    font-size: 25px;
    margin-bottom: 10px;
}
.tooltip .description{
    margin-bottom: 20px;
    font-size: 20px;
    margin-bottom: 0;
}
